body {
    margin: 0;
    padding: 0;
}

.price-section-wrapper {
    width: 1280px;
    height: 863.5px;
    margin-left:1px;
    margin-right: 1px;
    border:1px solid black;    
}

.price-container{
    width:772px;
    height: 684px;
    background-color:white;
    margin: 58px 255px 121.5px 255px;
    text-align: center;
    border:1px solid green;
}

.price-container-header-phrase{
    margin-top: -7px;
    margin-bottom: 21px;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding:0;
}

.price-container-separation-line {
    width: 40px;
    margin-top:0px;
    margin-bottom:13px;
    padding: 0px;
    height: 1px;
    background-color: #3F72AF;
    border: none;
}

.price-container-invitation-phrase{
    margin-top:0px;
    margin-bottom: 70px;
  
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;  

}

.price-cards-container{
    width: 100%;
    height: 541px;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: row;
   
}

.card-header-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin: 0px;
}

/* First price card */
.first-price-card-container {
    width:372px;
    height: 541px;
    background-color: bisque;
    border: 1px solid black;
    margin:0px 28px 0px 0px;
    padding:0px;
    display: flex;
    position:relative;
}

.first-price-card {
    width:370px;
    height:517px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

.first-price-card-header{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #3F72AF;
    text-align:center;
       
}
.first-butt-choose, .second-butt-choose {
    width: 202px;
    height: 52px;
    position:absolute;
    bottom:0px;
    left: 80px;
}

/* Second price card */
.second-price-card-container {
    width:372px;
    height: 541px;
    background-color: bisque;
    border: 1px solid black;
    margin:0px 0px 0px 0px;
    padding: 0px;
    display: flex;
    position:relative;
}

.second-price-card {
    width:370px;
    height:517px;
    background-color: white;
    box-sizing: border-box;
}

.second-price-card-header{
    width: 370px;
    height: 60px;
   margin-top: 30px;
    background-color: #112D4E;
}